// colors
$black-100 : #292929;
$white-primary : white;
$gray-100: #E2E2E2;
$gray-transparent: rgba(0, 0, 0, 0.57);
$blue-100: #4693ED;
$gray-200: #999EA5;
$green-100: #3EA03B;
$light-gray-shade: 
#BCB7B7;

// transition
$transition-primary: all 200ms ease-in;