body {
  scroll-behavior: smooth;
}
.first-section {
  padding: 7rem 1rem 1rem;
}
.main_paragraph-1 {
  font-family: "Clash Display", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: $black-100;
}
.main_paragraph-2 {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}
.hero-mobile {
  min-height: 400px;
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 2rem;

  img {
    max-width: 100%;
    position: absolute;
  }
}
.loading {
  font-size: 2.5rem;
  text-align: center;
  color: $black-100;
  font-weight: 500;
  padding-top: 2rem;
}
.featured-products {
  padding: 2rem;
  color: $black-100;

  h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
}
.featured-img-container {
  position: relative;

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  h3 {
    position: absolute;
    top: 3.5rem;
    left: 3rem;
    font-size: 2.1rem;
    color: $white-primary;
    z-index: 1;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    font-family: "Clash Display", sans-serif;
  }
  button {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;

    svg {
      font-size: 3rem;
    }
  }
}
.single-product {
  // margin-top: 2rem;
  padding-block: 2rem;
}
.single-product_text {
  font-weight: 500;
  letter-spacing: 1px;
  padding-top: 1rem;
}
@media (max-width: 350px) {
  .featured-img-container {
    h3 {
      font-size: 1.5rem;
    }
    button svg {
      font-size: 2rem;
    }
  }
}
.featured-img-container::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.5);
}
.contributors {
  display: flex;
  align-items: center;
  // justify-content: ;
  gap: 1rem;
  padding-block: 1rem;
  border-bottom: 1px solid $black-100;

  .contributors_avatar {
    display: flex;
  
  }

  p {
    font-weight: 600;
  }
}
@media screen and (max-width: 440px) {
  .contributors {
    flex-direction: column;
    align-items: flex-start;
    p {
      padding-top: 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .contributors {
    button {
      display: none;
    }
  }
  .featured-products_content{
    h2{
      display: none;
    }
  }
}
.home-gradient {
  background-image: linear-gradient(
    99.99deg,
    #4693ed -26.21%,
    #79c2d2 22.16%,
    rgba(192, 86, 9, 0.49) 111.62%
  );
  padding: 2rem;
  margin-bottom: 5rem;

  .bg-monalisa {
    background-image: url("../../assets/art-gallery.jpg");
    background-size: 20%;
    // width: 100%;
    // height: 100%;
  }
}
.home_nav {
  display: block;
  border-top: 1px solid $black-100;
  border-bottom: 1px solid $black-100;
  padding: 1.5rem 5px;
  font-size: 2rem;
  color: $black-100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  button {
    padding: 1rem;
    border: 1px solid $black-100;
    border-radius: 50%;

    svg {
      font-size: 2rem;
    }
  }
}
.top-creators {
  margin-top: 4rem;
  background-color: $gray-100;
  font-family: "Clash Display", sans-serif;
  position: relative;
  padding-bottom: 1rem;
  min-height: 17rem;
}
.circle {
  width: 1rem;
  aspect-ratio: 1/1;
  background-color: $black-100;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.top-creators_topics {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 5px;

  :nth-child(4) {
    display: none;
  }

  small {
    font-size: 0.9rem;
    vertical-align: top;
  }
}
.top-creators_title {
  max-width: 20ch;
  padding-left: 4px;
  padding-top: 5px;
}
.top-creators_text {
  padding-top: 1rem;
  color: $gray-transparent;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
}
.top-creators_img {
  width: 250px;
  position: absolute;
  bottom: -30px;
  right: 80px;
  z-index: 2;
}
.lg-text {
  font-size: 2rem;
  color: $black-100;
  position: absolute;
  bottom: 60px;
  right: 30px;
}
.lg-text-2x {
  font-size: 3rem;
  text-decoration: line-through;
  position: absolute;
  bottom: 0;
  right: 40px;
}
// Media query
@media screen and (max-width: 767px) {
  .carousel-container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero-mobile {
    display: none;
  }

  .main_paragraph-1 {
    font-size: 4rem;
    max-width: 25ch;
    margin: 0 auto;
    line-height: 1.2;
    padding-inline: 2rem;
  }
  .main_paragraph-2 {
    padding-inline: 2rem;
    max-width: 60rem;
    margin: 0 auto;
    line-height: 1.5;
    padding-block: 3rem;
  }
  .carousel-container {
    border: 1px solid;
    img {
      width: 300px;
    }
  }
  .featured-products {
    padding-inline: 5rem;
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;

    h2 {
      font-size: 2.5rem;
    }
  }
  .featured-img-container {
    img {
      width: 35vw;
      height: 15rem;
      object-fit: cover;
    }

    h3 {
      display: none;
    }
    button {
      opacity: 0;
    }
  }
  .single-product {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    border-top: 1px solid $black-100;
   
  }
 

  .featured-img-container::after {
    opacity: 0;
  }

  .featured-products_content {
    width: 40rem;

    h2 {
      font-family: 'STIX Two Text', sans-serif;
      font-size: 2rem;
    }
  }
  .contributors {
    border-bottom: none;

    button {
      border: 1px solid $black-100;
      border-radius: 50%;
      padding: 12px;
      cursor: pointer;

      svg {
        font-size: 2rem;
      }
    }
  }
.single-product:nth-child(odd){
  flex-direction: row-reverse;
}



  .home_nav {
    padding-inline: 7rem;

    button {
      border: none;

      svg {
        color: $blue-100;
        stroke-width: 1.2;
        font-size: 2.5rem;
      }
    }
  }
  .top-creators {
    padding: 2rem 7rem;

    .top-creators_title {
      font-size: 2.2rem;
      position: relative;
      top: -120px;
    }
    .top-creators_text {
      position: relative;
      top: -80px;
    }
    .top-creators_img {
      width: 450px;
      right: 20rem;
    }
    .lg-text {
      right: 20rem;
    }
    .lg-text-2x {
      right: 20rem;
    }
    .circle {
      display: none;
    }
    .top-creators_topics {
      flex-direction: column;
      align-items: flex-end;
      position: relative;

      small {
        font-size: 1rem;
      }

      ::after {
        content: "";
        background-color: #aeaeae;
        width: 5px;
        height: 95%;
        position: absolute;
        top: 0;
        right: 80px;
        border-radius: 1rem;
      }
      :nth-child(4) {
        display: block;
      }
      :nth-child(4)::after {
        content: "";
        width: 5px;
        height: 1rem;
        position: absolute;
        top: inherit;
        right: 80px;
        background-color: $black-100;
        border-radius: 1rem;
      }
    }
  }
}
